{% extends "layout.html" %}

{% block body %}
<table>
    <h2>Update password</h2>
    <form method="POST" action="{{ url_for('update_password', user_id = current_user.id) }}">
    <tr>
        <td>
      {{ form.old_password.label }}
        </td>
        <td>
      {{ form.old_password }}
        </td>
      </tr>
      <tr>
        <td>
      {{ form.new_password.label }}
        </td>
        <td>
      {{ form.new_password }}
        </td>
      </tr>
      <tr>
          <td>{{form.repeat_new_password.label}}</td>
          <td>{{form.repeat_new_password}}</td>
      </tr>
      <tr>
        <td colspan="2">
      <input type="submit" value="Change password"/>
        </td>
      </tr>
    </form>
</table>
{% endblock %}