{% extends "layout.html" %}

{% block body %}
<h1>Delete your account</h1>
<form method="POST" action="{{ url_for('delete_user', user_id = current_user.id) }}">
    <p>Enter your password and press "Delete" to delete your account.</p>
    <p>This will delete your account permanently.</p>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <br>
</div>
<center>
<button type="submit" class="btn btn-danger">Delete account</button>
</center>
</form>
{% endblock %}