{% extends "layout.html" %}

{% block body %}
<h1>Profile</h1> <br><br><br>
<h2>Username</h2>
<p>{{user.username}}</p> <br>

<h2>Total messages</h2>
<p>{{user.total_messages}}</p> <br>

<h2>Account created</h2>
<p>{{user.date_created}}</p> <br>

{% if current_user.id == user.id %}
<form method="GET" action="{{url_for('get_change_password_form', user_id = current_user.id)}}"style="display:inline-block">
  <button type="submit" class="btn btn-primary">Change password</button>
</form>
<form method="GET" action="{{url_for('get_delete_user', user_id = current_user.id)}}" style="display:inline-block">
    <button type="submit" class="btn btn-danger">Delete account</button>
</form>

{% endif %}
{% endblock %}