{% extends "layout.html" %}

{% block body %}

{% if current_user.is_authenticated %}
<p>Edit message </p>
<p>{{message.content}}</p>
<form method="POST" action="{{url_for('discussions_edit_message', discussion_id = discussion_id, message_id=message.id)}}">

  <div class="input-group" style="max-width:100%;margin-top:30px;">
    <textarea class="form-control" aria-label="With textarea", id="comment" name="comment" style="border-color:brown;"></textarea>
      <div class="input-group-append">
        <input type="submit" value="Edit comment"/>
      </div>
  </div>            
</form>


{% endif %}
{% endblock %}