{% extends "layout.html" %}

{% block body %}
{{ error }}
<h2>Create a new post</h2>
<form method="POST" action="{{ url_for('discussions_create') }}">
  <table>
    <tr><td>Max 100 characters</td></tr>
    <tr>
      <td>
	{{ form.title.label }}
      </td>
      <td>
	{{ form.title }}
      </td>
    </tr>
    <tr><td>Max 2000 characters</td></tr>
    <tr>
      <td>
	{{ form.content.label }}
      </td>
      <td>
	{{ form.content }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Start a discussion"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}